* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: normal;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(
    --Black-Primary,
    linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
    #121212
  );
}

/* Navbar */

header {
  display: flex;
  width: 100%;
  height: 80px;
  padding: 0px 160px;
  justify-content: space-between;
  align-items: center;
  background: var(
    --Black-Primary,
    linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
    #121212
  );
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1),
    0px 4px 10px 0px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  z-index: 1000;
}

.company-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}

.company-logo img {
  height: 64px;
  object-fit: cover;
}

.company-logo p {
  color: #38f2f2;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.8px;
}

header nav {
  display: flex;
  align-items: center;
  gap: 40px;
}

header nav a {
  text-decoration: none;
  display: flex;
  padding: 8px 4px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--Black-black-50, #e7e7e7);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.32px;
  flex-shrink: 0;
  transition: all 0.3s;
}

header nav a:hover {
  color: var(--Blue-300, #38f2f2);
}

.primary-button {
  display: flex;
  height: 52px;
  padding: 10px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: var(--Blue-Primary, #2dc2c2);
  text-decoration: none;
  transition: all 0.3s;
}

.primary-button p {
  color: #fff;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.36px;
  transition: all 0.3s;
}

.primary-button svg {
  width: 24px;
  height: 24px;
  aspect-ratio: 1/1;
}

.primary-button svg path {
  transition: all 0.3s;
}

.primary-button:hover {
  background: var(--Blue-300, #38f2f2);
}

.primary-button:hover p {
  color: var(--Black-Primary, #121212);
}

.primary-button:hover svg path {
  fill: #121212;
}

/* Banner */

.banner {
  width: 100%;
  height: 100svh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
  padding: 0px 160px;
  overflow: hidden;
  position: relative;
}

.banner-background {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.banner-left {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  z-index: 3;
}

.banner-left section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

.banner-left section h1 {
  color: var(--Black-black-50, #e7e7e7);
  font-family: Inter;
  font-size: 72px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: -2.88px;
}

.banner-left section p {
  color: var(--Black-black-100, #b6b6b6);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.96px;
}

.banner-right {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 20px;
}

.banner-wrapper {
  height: 100%;
  overflow: hidden;
  position: relative;
}

.banner-marquee {
  display: flex;
  flex-direction: column;
  animation: scrollUp 30s linear infinite;
}

.banner-marquee-rev {
  animation: scrollDown 30s linear infinite;
}

.marquee-group {
  display: flex;
  flex-direction: column;
}

.banner-marquee img {
  width: 200px;
  object-fit: cover;
  padding-top: 8px;
  border-radius: 8px;
}

@keyframes scrollUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes scrollDown {
  0% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0);
  }
}

.banner-shade-up {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 200px;
  background: var(
    --Black-Primary,
    linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
    #121212
  );
  filter: blur(30px);
  z-index: 2;
  left: 50%;
  transform: translateX(-50%);
}

.banner-shade-down {
  position: absolute;
  bottom: -100px;
  width: 100%;
  height: 200px;
  background: var(
    --Black-Primary,
    linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
    #121212
  );
  filter: blur(30px);
  z-index: 2;
  left: 50%;
  transform: translateX(-50%);
}

/* Sections */

.section-container {
  width: 100%;
  display: flex;
  padding: 80px 160px;
  flex-direction: column;
  align-items: center;
  gap: 64px;
}

.section-heading {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 40px;
}

.section-heading h2 {
  width: 525px;
  flex-shrink: 0;
  color: var(--Black-black-50, #e7e7e7);
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -1.92px;
}

.section-heading p {
  width: 100%;
  color: var(--Black-black-100, #b6b6b6);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.32px;
}

.mission-vision-container {
  display: flex;
  align-items: center;
  gap: 24px;
}

.mission-vision-set {
  width: 453px;
  height: 301px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  overflow: hidden;
  gap: 24px;
  padding: 40px 14px 0px 24px;
  background: linear-gradient(136deg, #202020 0.06%, #0e0e0e 93.11%);
}

.mission-vision-set:first-child {
  clip-path: polygon(0 0, 100% 0, 100% 75%, 82% 100%, 0 100%);
}
.mission-vision-set:last-child {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 18% 100%, 0 75%);
}

.mission-vision-set h3 {
  color: var(--White-Bg, #fff);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 2.8px;
  z-index: 1;
}

.mission-vision-set p {
  color: var(--White-Bg, #fff);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.96px;
  z-index: 1;
}

.mission-vision-set img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: all 0.8s;
}

.mission-vision-set:hover img {
  opacity: 1;
}

.clientele-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.clientele-set {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1px;
  padding-left: 16px;
  border-left: 2px solid #38f2f2;
  align-self: stretch;
}

.clientele-set h3 {
  color: #fff;
  font-family: Inter;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.12px;
}

.clientele-set p {
  color: var(--Black-black-100, #b6b6b6);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.32px;
}

.service-options-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.service-options-set {
  width: 100%;
  min-height: 307px;
  display: flex;
  padding: 32px 16px;
  flex-direction: column;
  align-items: flex-end;
  gap: 16px;
  flex-shrink: 0;
  border-radius: 8px;
  background: linear-gradient(136deg, #202020 0.06%, #0e0e0e 93.11%),
    var(--White-Bg, #fff);
  text-decoration: none;
}

.service-options-set svg {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  aspect-ratio: 1/1;
}

.service-options-set svg path {
  transition: all 0.3s;
}

.service-options-set h3 {
  width: 100%;
  color: var(--Grey-grey-200, #c2c2c2);
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.64px;
  transition: all 0.3s;
}

.service-options-set span {
  color: var(--Blue-300, #38f2f2);
  transition: all 0.3s;
}

.service-options-set:hover svg path {
  fill: #2dc2c2;
}

.service-options-set:hover h3 {
  color: var(--White-Bg, #fff);
}

.service-options-set:hover span {
  color: var(--Blue-300, #38f2f2);
}

.experience {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.experience-background {
  width: 100%;
  object-fit: cover;
}

.experience-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.experience-container p:first-child {
  color: var(--Grey-grey-100, #d6d6d6);
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.8px;
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.experience-container p:first-child span {
  color: #fff;
  font-family: Inter;
  font-size: 120px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: -9.6px;
  width: 250px;
  text-align: right;
}

.experience-container p:nth-child(2) {
  color: var(--Grey-grey-100, #d6d6d6);
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.8px;
  padding-right: 400px;
}

.experience-container p:last-child {
  color: var(--Blue-300, #38f2f2);
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -1.2px;
}

.experience-container p:last-child span {
  color: var(--Blue-300, #38f2f2);
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: -1.2px;
}

.machine-container {
  display: flex;
  width: 740px;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.machine-img {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  overflow: hidden;
}

.machine-img img {
  width: 100%;
  object-fit: cover;
  transition: all 0.3s;
}

.machine-img:hover img {
  scale: 1.1;
}

.machine-numbers {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.machine-numbers-set:first-child {
  grid-column: span 2;
}

.machine-numbers-set {
  width: 100%;
  display: flex;
  padding: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 8px;
  background: linear-gradient(136deg, #343434 0.06%, #0f0f0f 93.11%);
}

.machine-numbers-set p {
  color: var(--White-Bg, #fff);
  text-align: center;
  font-family: Inter;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.12px;
}

.machine-numbers-set section {
  display: flex;
  padding: 4px 8px;
  align-items: center;
  gap: 6px;
}

.machine-numbers-set section svg {
  width: 20px;
  height: 20px;
  aspect-ratio: 1/1;
}

.machine-numbers-set section span {
  color: var(--Blue-300, #38f2f2);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.64px;
}

.engineering-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

.engineering-set {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.engineering-img {
  width: 100%;
  height: 316px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  overflow: hidden;
}

.engineering-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s;
}

.engineering-set:hover img {
  scale: 1.1;
}

.engineering-set p {
  color: var(--White-Bg, #fff);
  font-family: Inter;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -1.12px;
}

.service-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  align-self: stretch;
}

.service-info-set {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 16px;
  flex: 1 0 0;
}

.service-info-set section {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  flex: 1 0 0;
}

.service-info-set section h3 {
  color: var(--White-Bg, #fff);
  font-family: Inter;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -1.12px;
}

.service-info-set section p {
  color: var(--Black-black-100, #b6b6b6);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.32px;
}

.service-info-set-img {
  width: 40%;
  height: 316px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  overflow: hidden;
}

.service-info-set-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s;
}

.service-info-set:hover img {
  scale: 1.1;
}

.certifications-container {
  display: flex;
  width: 555px;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.certifications-container img {
  height: 140px;
  object-fit: cover;
  filter: drop-shadow(0px 4px 30px rgba(56, 242, 242, 0.6));
}

.certifications-container section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  align-self: stretch;
}

.certifications-container section .heading {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.certifications-container section .heading h3 {
  color: var(--Black-black-200, #929292);
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 5.12px;
}

.certifications-container section .heading h4 {
  color: #fff;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.28px;
}

.certifications-container section p {
  color: var(--Black-black-200, #929292);
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.32px;
}

.certifications-container section p span {
  color: var(--Blue-Primary, #2dc2c2);
}

.certifications-container a {
  display: flex;
  padding: 8px 24px;
  align-items: center;
  gap: 4px;
  border-radius: 8px;
  background: linear-gradient(136deg, #202020 0.06%, #0e0e0e 93.11%);
  text-decoration: none;
}

.certifications-container a svg {
  width: 24px;
  height: 24px;
  aspect-ratio: 1/1;
}

.certifications-container a p {
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.32px;
}

.our-team-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.our-team-div {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 12px;
}

.our-team-container img {
  width: 100%;
  object-fit: cover;
}

.our-team-set {
  width: 100%;
  display: flex;
  padding: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  flex: 1 0 0;
  border-radius: 8px;
  background: linear-gradient(136deg, #202020 0.06%, #0e0e0e 93.11%);
}

.our-team-set h3 {
  color: var(--White-Bg, #fff);
  text-align: center;
  font-family: Inter;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.12px;
}

.our-team-set p {
  color: var(--Blue-300, #38f2f2);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.64px;
}

/* Contact */

.contact {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  padding: 160px 160px 80px 160px;
  position: relative;
}

.contact-background {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.contact-info {
  width: 100%;
  display: inline-flex;
  padding: 24px 38px 26px 28px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  border-radius: 16px;
  background: linear-gradient(136deg, #1e1e1e 0.06%, #0e0e0e 93.11%);
  z-index: 1;
  align-self: stretch;
}

.contact-info h2 {
  width: 100%;
  color: var(--White-Bg, #fff);
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -1.92px;
}

.contact-info-container {
  display: flex;
  width: 380px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.contact-info-set {
  width: 100%;
  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid #585858;
}

.contact-info-set svg {
  width: 24px;
  height: 24px;
}

.contact-info-set-line {
  width: 100%;
  height: 1px;
  background: #444;
}

.contact-info-set section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
}

.contact-info-set h3 {
  color: var(--White-Bg, #fff);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.36px;
}

.contact-info-set p {
  color: var(--Black-black-100, #b6b6b6);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.32px;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  z-index: 1;
  align-self: stretch;
}

.form-name {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 36px;
  align-self: stretch;
}

form section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

form label {
  color: var(--White-Bg, #fff);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.28px;
}

form label span {
  color: var(--Blue-Primary, #2dc2c2);
}

form input {
  width: 100%;
  display: flex;
  height: 48px;
  padding: 8px 16px;
  align-items: center;
  flex-shrink: 0;
  align-self: stretch;
  border-radius: 8px;
  background: none;
  border: 1px solid var(--Grey-grey-100, #d6d6d6);
  color: var(--Grey-Primary, #7b7b7b);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.32px;
}

form textarea {
  width: 100%;
  resize: none;
  display: flex;
  height: 200px;
  padding: 8px 16px;
  align-items: center;
  flex-shrink: 0;
  align-self: stretch;
  border-radius: 8px;
  background: none;
  border: 1px solid var(--Grey-grey-100, #d6d6d6);
  color: var(--Grey-Primary, #7b7b7b);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.32px;
}

form button {
  width: 100%;
  border: none;
  cursor: pointer;
}

/* Footer */

footer {
  width: 100%;
  display: flex;
  padding: 80px 160px;
  flex-direction: column;
  align-items: center;
  gap: 80px;
}

.footer-contact {
  display: flex;
  width: 611px;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.footer-contact section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  align-self: stretch;
}

.footer-contact section h2 {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -1.92px;
}

.footer-contact section span {
  color: var(--Blue-300, #38f2f2);
}

.footer-contact section p {
  color: var(--Black-black-50, #e7e7e7);
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.64px;
}

.secondary-button {
  display: inline-flex;
  height: 52px;
  padding: 10px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 4px;
  background: var(--White-Bg, #fff);
  border: 1px solid var(--White-Bg, #fff);
  text-decoration: none;
  transition: all 0.3s;
}

.secondary-button p {
  color: var(--Black-Primary, #121212);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.36px;
  transition: all 0.3s;
}

.secondary-button svg {
  width: 24px;
  height: 24px;
  aspect-ratio: 1/1;
}

.secondary-button svg path {
  transition: all 0.3s;
}

.secondary-button:hover {
  background: transparent;
  border: 1px solid var(--White-Bg, #fff);
}

.secondary-button:hover p {
  color: var(--White-Bg, #fff);
}

.secondary-button:hover svg path {
  fill: White;
}

.footer-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  align-self: stretch;
}

.footer-container-up {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-container-up a {
  display: flex;
  align-items: center;
  gap: 4px;
  text-decoration: none;
}

.footer-container-up a:hover p {
  color: #38f2f2;
}

.footer-container-up a:hover path {
  fill: #38f2f2;
}

.footer-container-up p {
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer-container-up svg {
  width: 20px;
  height: 20px;
  aspect-ratio: 1/1;
}

.footer-company-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-company-logo img {
  height: 64px;
  object-fit: cover;
}

.footer-company-logo h2 {
  color: #38f2f2;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.8px;
}

.footer-container-up section {
  display: flex;
  align-items: center;
  gap: 16px;
}

.footer-container-down {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
  padding-top: 16px;
  border-top: 1px solid #a7a7a7;
}

.footer-container-down p {
  color: var(--Black-black-50, #e7e7e7);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer-container-down a {
  text-decoration: none;
  color: var(--Black-black-50, #e7e7e7);
}

.footer-container-down a:hover {
  color: #ffbf00;
}

.mobile {
  display: none;
}

.desktop {
  display: flex;
}

@media screen and (max-width: 1200px) {
  .mobile {
    display: flex;
  }

  .desktop {
    display: none;
  }

  header {
    padding: 0px 20px;
    height: 64px;
  }

  .company-logo img {
    height: 32px;
  }

  .company-logo p {
    color: #38f2f2;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.56px;
  }

  .mobileNavbar {
    width: 100%;
    height: calc(100svh - 64px);
    background: var(
      --Black-Primary,
      linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
      linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
      linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
      linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
      #121212
    );
    backdrop-filter: blur(20px);
    position: fixed;
    top: 63px;
    right: 0;
    z-index: 1000;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 80px;
    padding: 40px 20px 20px 20px;
  }

  @keyframes slideIn {
    from {
      transform: translateX(100%);
    }

    to {
      transform: translateX(0);
    }
  }

  @keyframes slideOut {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(100%);
    }
  }

  .activeMobileNavbar {
    transform: translateX(0);
    animation: slideIn 0.3s forwards;
  }

  .nonactiveMobileNavbar {
    transform: translateX(100%);
    animation: slideOut 0.3s forwards;
  }

  header nav {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    justify-content: flex-start;
  }

  header nav a {
    display: flex;
    height: 48px;
    padding: 10px;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    color: #fff;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.96px;
  }

  header .primary-button {
    width: 100%;
  }

  .primary-button p {
    color: var(--Black-Primary, #121212);
  }

  /* Banner */

  .banner {
    padding: 40px 20px;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;
  }

  .banner-left {
    align-items: center;
    justify-content: center;
  }

  .banner-left section {
    gap: 8px;
    align-items: center;
    justify-content: center;
  }

  .banner-left section h1 {
    color: var(--Black-black-50, #e7e7e7);

    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%; /* 52.8px */
    letter-spacing: -1.92px;
  }

  .banner-left section p {
    color: var(--Black-black-100, #b6b6b6);
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.64px;
  }

  .banner .primary-button svg {
    display: none;
  }

  .banner-right {
    height: auto;
    width: 100%;
    flex-direction: column;
    gap: 10px;
  }

  .banner-wrapper {
    height: auto;
    width: 100%;
  }

  .banner-marquee {
    animation: none;
    max-width: 100%;
    overflow: hidden;
    display: block;
  }

  .marquee-group {
    white-space: nowrap;
    overflow: hidden;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    animation: scrollUp 10s linear infinite;
  }
  .banner-marquee-rev .marquee-group {
    animation: scrollDown 10s linear infinite;
  }

  .banner-marquee img {
    width: auto;
    height: 100px;
    padding-top: 0;
    padding-left: 10px;
  }

  @keyframes scrollUp {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  @keyframes scrollDown {
    0% {
      transform: translateX(-50%);
    }
    100% {
      transform: translateX(0);
    }
  }

  .banner-shade-up {
    width: 200px;
    height: 50%;
    bottom: 0;
    top: auto;
    left: calc(0% - 100px);
    transform: none;
  }

  .banner-shade-down {
    width: 200px;
    height: 50%;
    bottom: 0;
    left: calc(100% - 100px);
    transform: none;
  }

  /* Sections */

  .section-container {
    width: 100%;
    padding: 48px 20px;
    gap: 32px;
  }

  .section-heading {
    flex-direction: column;
    gap: 8px;
  }

  .section-heading h2 {
    width: 100%;
    color: var(--Black-black-50, #e7e7e7);
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -1.28px;
  }

  .section-heading p {
    color: var(--Black-black-100, #b6b6b6);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.28px;
  }

  .mission-vision-container {
    width: 100%;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .mission-vision-set {
    width: 100%;
    height: 223px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 18% 100%, 0 75%) !important;
  }

  .mission-vision-set img {
    opacity: 1;
  }

  .mission-vision-set h3 {
    color: var(--White-Bg, #fff);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 2.52px;
  }

  .mission-vision-set p {
    color: var(--White-Bg, #fff);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.64px;
  }

  .clientele-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
  }

  .clientele-set h3 {
    color: #fff;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.8px;
  }

  .clientele-set p {
    color: var(--Black-black-100, #b6b6b6);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.32px;
  }

  .service-options-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }

  .service-options-set {
    display: flex;
    padding: 24px 16px;
    flex-direction: column;
    align-items: flex-end;
    gap: 16px;
  }

  .service-options-set svg {
    width: 24px;
    height: 24px;
    aspect-ratio: 1/1;
  }

  .service-options-set h3 {
    color: var(--White-Bg, #fff);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.4px;
  }

  .experience-container p:first-child {
    color: var(--Grey-grey-200, #c2c2c2);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -1.6px;
  }

  .experience-container p:first-child span {
    color: #fff;
    font-family: Inter;
    font-size: 100px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: -8px;
    width: 200px;
  }

  .experience-container p:nth-child(2) {
    color: var(--Grey-grey-100, #d6d6d6);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.4px;
    flex-shrink: 0;
    padding-right: 35%;
  }

  .experience-container p:last-child {
    color: var(--Blue-300, #38f2f2);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.6px;
  }

  .experience-container p:last-child span {
    color: var(--Blue-300, #38f2f2);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: -0.6px;
  }

  .machine-container {
    width: 100%;
  }

  .machine-numbers {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
  }

  .machine-numbers-set {
    display: flex;
    padding: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
  }

  .machine-numbers-set p {
    color: var(--White-Bg, #fff);
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.72px;
  }

  .engineering-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .engineering-img {
    height: 350px;
  }

  .engineering-set p {
    color: var(--White-Bg, #fff);
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.96px;
  }

  .service-info-set {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
  }

  .service-info-set section {
    width: 100%;
  }

  .service-info-set section h3 {
    color: var(--White-Bg, #fff);
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.96px;
  }

  .service-info-set section p {
    color: var(--Black-black-100, #b6b6b6);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.32px;
  }

  .service-info-set-img {
    width: 100%;
    height: 350px;
  }

  .certifications-container {
    width: 100%;
  }

  .certifications-container img {
    height: 100px;
  }

  .certifications-container section .heading h3 {
    color: var(--Black-black-200, #929292);
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 4.48px;
  }

  .certifications-container section .heading h4 {
    color: #fff;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.8px;
  }

  .certifications-container section p {
    color: var(--Black-black-200, #929292);
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.28px;
  }

  .our-team-div {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
  }

  .our-team-set {
    display: flex;
    padding: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    aspect-ratio: 335/74;
    border-radius: 8px;
    background: linear-gradient(136deg, #202020 0.06%, #0e0e0e 93.11%);
  }

  .our-team-set h3 {
    color: var(--White-Bg, #fff);
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.72px;
  }

  .our-team-set p {
    color: var(--Blue-300, #38f2f2);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.64px;
  }

  /* Contact */

  .contact {
    display: flex;
    padding: 48px 20px;
    padding-top: 100px;
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 32px;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
  }

  .form-name {
    flex-direction: column;
    gap: 16px;
  }

  .contact-info {
    display: flex;
    padding: 40px 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
    border-radius: 8px;
  }

  .contact-info h2 {
    color: var(--White-Bg, #fff);
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -1.28px;
  }

  .contact-info-container {
    width: 100%;
  }

  /* Footer */

  footer {
    display: flex;
    padding: 48px 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 64px;
  }

  .footer-contact {
    width: 100%;
  }

  .footer-contact section h2 {
    color: #fff;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -1.28px;
  }

  .footer-contact section p {
    color: var(--Black-black-50, #e7e7e7);
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.64px;
  }

  .footer-container {
    gap: 32px;
  }

  .footer-container-up {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
  }

  .footer-company-logo {
    order: -1;
    padding-bottom: 32px;
  }

  .footer-company-logo img {
    height: 48px;
  }

  .footer-company-logo h2 {
    color: #38f2f2;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.56px;
  }

  .footer-container-down {
    flex-direction: column;
    gap: 8px;
    align-items: center;
  }
}
